baseURL = "https://itfloss.beer/"
languageCode = "es"
defaultContentLanguage = "es"
title = "IT Floss"
theme = "ananke"
googleAnalytics = "G-KNPLG4BVPJ"
summaryLength = 40

[Params]
  site_logo = "/images/if-blanco.png"
  mainSections = ["eventos", "posts"] 
  custom_sass = ["activity.scss","monokai.scss", "default.scss"]
  ananke_process_css = true

  [[Params.ananke_socials]]
    name = "twitter"
    url = "https://twitter.com/IT_Floss"
    label = "ITFloss Twitter"

  [[Params.ananke_socials]]
    name = "github"
    url = "https://github.com/IT-Floss"
    label = "ITFloss Github"

  [[Params.ananke_socials]]
    name = "facebook"
    url = "https://www.facebook.com/itfloss"
    label = "ITFloss Facebook"


  [Params.Terminal]
  # Note: color scheme
  # Note: You can choose between
  # Note: hugo-theme-shell original: ["shell-powershell", "shell-ubuntu", "shell-retro"]
  # Note: gogh theme: https://mayccoll.github.io/Gogh/
  # TODO: esto esta todo hardcodeado. Arreglalo :)

  # Note: in terminal
  # [userName]@[pcName]:~/$ cd [workDir]
  # [userName]@[pcName]:~/[workDir]$ cat [profile]
  #
  # [description]
  #
  # Note: if you set Params.Tree > use = true
  # [userName]@[pcName]:~/[workDir]$ tree ./[folderName]/
  # ./[folderName]/
  # ...
  # Note: result of the tree command
  userName = "nerd"
  pcName = "Rosario"
  workDir = "ITFloss"
  profile = "¿Qué Hacemos?.txt"

  # Note: speed at which text is displayed on the terminal
  # Note: if set to 0, typing animation will be disabled
  # Note:
  # Note: if you want to enable Mathjax, you need to set it to 0
  # Note: and set "math: true" at front matter in your Markdown file
  ps1Delay = 0 # prompt speed : [userName]@[pcName]:~/$ , [userName]@[pcName]:~/[workDir]$
  stdoutDelay = 0 # stdout speed : [description] , files in Params.Tree
  commandDelay = 50 # command speed : cd [workDir] , cat [profile] , tree ./[folderName]/

  # terminalDelay = 20 : deprecated

  # Note: speed at which text is displayed on the activity pages
  # Note: if set to 0, typing animation will be disabled
  # Note: 
  # Note: if you want to enable Mathjax, you need to set it to 0
  # Note: and set "math: true" at front matter in your Markdown file
  titleDelay = 0 # title speed : "title" in front matter
  contentDelay = 0 # content speed : content in .md file

  # activityDelay = 5 : deprecated

  description = """  
  Hacemos una reunión mensual el segundo jueves de cada mes. 
Tambien asistimos y organizamos eventos relacionados 
a la tecnología de la información. 
"""
#Hacemos una reunión mensual el segundo 
#jueves de cada mes. 
#Tambien asistimos y organizamos eventos 
#relacionados a la tecnología de la información.

  # Note: If you want to use a Markdown file, you can use the following
  # Note: If you want to use a Markdown file, you can use the following
  # description = "/description.md"
  # Note: and put the description.md in /content/description.md

  [Params.Tree]
  use = true
  folderName = "donde_me_sumo"
  # Note: ["ACTIVITY", "URL or PATH TO YOUR MARKDOWN FILE"]
  files = [ 
    ["Admin Birras, sumate a la próxima!", "/eventos/"],
    ["Twitter", "https://twitter.com/IT_Floss"],
    ["Discord", "https://discord.com/invite/sysarmy-128531369788833793"],
    ["Facebook", "https://www.facebook.com/itfloss"],
    ["Github", "https://github.com/IT-Floss"],
    ["Telegram", "https://t.me/+R8O-ttM9lgdhZWI5"],
  ]

[module]
  [module.hugoVersion]
    extended = true
    min = "0.85.0"
  # description = "/description.md"
  # Note: and put the description.md in /content/description.md

[sitemap]
  changefreq = "monthly"
  priority = 0.5
  filename = "sitemap.xml"

[[menu.main]]
    identifier = "about"
    name = "About"
    pre = "<i class='fa fa-heart'></i>"
    url = "/about/"
    weight = -110

[[menu.main]]
    identifier = "home"
    name = "Home"
    pre = "<i class='fa fa-heart'></i>"
    url = "/"
    weight = -120

[[menu.main]]
    identifier = "eventos"
    name = "Eventos"
    pre = "<i class='fa fa-heart'></i>"
    url = "/eventos/"
    weight = -90

[[menu.main]]
    identifier = "posts"
    name = "Blog"
    pre = "<i class='fa fa-heart'></i>"
    url = "/posts/"
    weight = -80
